<!DOCTYPE HTML>
<html>
<head>
    <title><%=blocks.title%></title>
</head>
<body>
<header><%=blocks.header%></header>
<section class="container">
    <%-partial('../particals/topNavigation')%>
    <h1><%=blocks.title%></h1>
<%-body %>



</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>